@tailwind base;
@tailwind components;
@tailwind utilities;

/* */
.font-cn-serif {
  font-family: "Huiwen-mincho", "Source Han Serif CN", serif;
}

.font-en-serif {
  /* 使用系统自带的经典西文衬线，避免使用中文字体里的英文 */
  font-family: "Georgia", "Times New Roman", "EB Garamond", serif;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #050505;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 移动端禁止橡皮筋回弹效果，增强沉浸感 */
  overscroll-behavior-y: contain;
}

/* 隐藏滚动条但保留功能 */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.15);
}