@tailwind base;
@tailwind components;
@tailwind utilities;

/* */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* 极细，更像极客界面 */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05); /* 极淡 */
}

.font-cn-serif {
  font-family: "Huiwen-mincho", "Source Han Serif CN", serif;
}

.font-en-serif {
  /* 使用系统自带的经典西文衬线，避免使用中文字体里的英文 */
  font-family: "Georgia", "Times New Roman", "EB Garamond", serif;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #050505;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 移动端禁止橡皮筋回弹效果，增强沉浸感 */
  overscroll-behavior-y: contain;
}

/* 隐藏滚动条但保留功能 */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* 在全局 CSS 中添加，用于还原图片中的条纹高亮 */
.bg-stripes-white {
  background-color: #ffffff;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(0,0,0,0.1) 2px, rgba(0,0,0,0.1) 4px);
}

.bg-stripes-red {
  background-color: #dc2626; /* red-600 */
  background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(0,0,0,0.2) 2px, rgba(0,0,0,0.2) 4px);
}